{
  "openapi": "3.1.0",
  "info": {
    "title": "ManyPI API",
    "description": "The REST API behind ManyPI — AI lead generation, email validation, cold-email outreach, agent runs and web scraping. Every endpoint is authenticated with a ManyPI API key (`mpi_...`) or an OAuth 2.1 access token, and honours the permissions granted to that credential.",
    "version": "2.0.0",
    "contact": {
      "name": "ManyPI Support",
      "email": "support@manypi.com",
      "url": "https://manypi.com"
    }
  },
  "servers": [
    { "url": "https://app.manypi.com", "description": "Production" }
  ],
  "security": [{ "bearerAuth": [] }],
  "tags": [
    { "name": "Leads", "description": "Find, store, enrich and manage leads." },
    { "name": "Email validation", "description": "Verify that lead addresses can receive mail." },
    { "name": "Outreach", "description": "Inboxes, sequences, campaigns, sending and replies." },
    { "name": "Agent", "description": "Agent runs, replies and skills." },
    { "name": "Scraping", "description": "Scrapers, runs and extracted data." },
    { "name": "Endpoints", "description": "Publish scrapers as typed REST endpoints." },
    { "name": "Account", "description": "Key validation and account information." }
  ],
  "paths": {
    "/api/leads": {
      "get": {
        "summary": "List leads",
        "description": "List and filter the workspace's leads, newest first. Also returns the declared custom columns, the past lead searches that produced these leads, the workspace total and the plan's lead limit — everything a grid needs in one call.\n\nWhen the workspace is locked for billing, the response keeps the same shape but carries `billingLock`, and `leads` holds placeholder rows rather than real leads. Check for `billingLock` before you store or act on the rows.\n\nRequires the `read` permission.",
        "operationId": "listLeads",
        "tags": ["Leads"],
        "parameters": [
          { "name": "q", "in": "query", "description": "Free text across company, full name, email and domain.", "schema": { "type": "string" } },
          { "name": "status", "in": "query", "description": "A lead status, or `archived` / `unsubscribed` (which are flags, not statuses).", "schema": { "type": "string", "enum": ["new", "qualified", "contacted", "disqualified", "archived", "unsubscribed"] } },
          { "name": "campaign", "in": "query", "description": "The agent run id of the lead search that produced the leads.", "schema": { "type": "string", "format": "uuid" } },
          { "name": "brand", "in": "query", "description": "Narrow to one brand, or `all` for the whole workspace.", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "description": "Max 500.", "schema": { "type": "integer", "default": 100, "maximum": 500 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Leads and grid metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "leads": { "type": "array", "items": { "$ref": "#/components/schemas/Lead" } },
                    "total": { "type": "integer", "description": "Rows matching the current filter." },
                    "workspaceTotal": { "type": "integer", "description": "Every lead the workspace stores, ignoring filters." },
                    "customColumns": { "type": "array", "items": { "type": "string" } },
                    "customFields": { "type": "array", "items": { "$ref": "#/components/schemas/LeadField" } },
                    "campaigns": {
                      "type": "array",
                      "description": "Past lead searches, with how many leads each produced.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string", "format": "uuid" },
                          "label": { "type": "string" },
                          "count": { "type": "integer" },
                          "created_at": { "type": "string", "format": "date-time", "nullable": true }
                        }
                      }
                    },
                    "leadLimit": { "type": "integer", "description": "Stored-lead cap for the plan." },
                    "billingLock": { "type": "object", "nullable": true, "description": "Present only when the workspace is locked for billing. `leads` then holds placeholder rows and `total` is the number of real leads waiting behind the lock." }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "patch": {
        "summary": "Bulk update leads",
        "description": "Change status and/or archive state for up to 500 leads at once.\n\nRequires the `write` permission.",
        "operationId": "bulkUpdateLeads",
        "tags": ["Leads"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["ids"],
                "properties": {
                  "ids": { "type": "array", "items": { "type": "string", "format": "uuid" }, "minItems": 1, "maxItems": 500 },
                  "status": { "type": "string", "enum": ["new", "qualified", "contacted", "disqualified"] },
                  "archived": { "type": "boolean", "description": "true archives, false restores." }
                }
              },
              "example": { "ids": ["8f1c0e6a-1c3e-4f2a-9a4b-0f7a1e2b3c4d"], "status": "qualified" }
            }
          }
        },
        "responses": {
          "200": { "description": "Updated.", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" }, "updated": { "type": "integer" } } } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "summary": "Bulk delete leads",
        "description": "Permanently delete up to 500 leads. Consider archiving instead — archived leads stop appearing everywhere but stay recoverable.\n\nRequires the `write` permission.",
        "operationId": "bulkDeleteLeads",
        "tags": ["Leads"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["ids"],
                "properties": { "ids": { "type": "array", "items": { "type": "string", "format": "uuid" }, "minItems": 1, "maxItems": 500 } }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Deleted.", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" }, "deleted": { "type": "integer" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/leads/{id}": {
      "get": {
        "summary": "Get a lead",
        "description": "Fetch one lead with its custom columns and email status.\n\nRequires the `read` permission.",
        "operationId": "getLead",
        "tags": ["Leads"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "The lead.", "content": { "application/json": { "schema": { "type": "object", "properties": { "lead": { "$ref": "#/components/schemas/Lead" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "summary": "Update a lead",
        "description": "Update one field, the status, the score, or the archive flag on a single lead. Setting `field` to a name that is not a core field writes into the lead's custom columns.\n\nRequires the `write` permission.",
        "operationId": "updateLead",
        "tags": ["Leads"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "field": { "type": "string", "maxLength": 64, "description": "A core field (`company`, `full_name`, `title`, `email`, `phone`, `domain`, `linkedin_url`, `location`, `source_url`) or a custom column key." },
                  "value": { "type": "string", "nullable": true, "maxLength": 2000, "description": "Empty string or null clears the field." },
                  "status": { "type": "string", "enum": ["new", "qualified", "contacted", "disqualified"] },
                  "score": { "type": "integer", "minimum": 0, "maximum": 100, "nullable": true },
                  "archived": { "type": "boolean" }
                }
              },
              "example": { "field": "title", "value": "Head of Growth" }
            }
          }
        },
        "responses": {
          "200": { "description": "The updated lead.", "content": { "application/json": { "schema": { "type": "object", "properties": { "lead": { "$ref": "#/components/schemas/Lead" } } } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "summary": "Delete a lead",
        "description": "Permanently delete one lead.\n\nThe response is `{ \"ok\": true }` whether or not a lead with that id existed. To confirm the lead was there, fetch it first with `GET /api/leads/{id}`.\n\nRequires the `write` permission.",
        "operationId": "deleteLead",
        "tags": ["Leads"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "Deleted.", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/leads/research": {
      "post": {
        "summary": "Start a lead search",
        "description": "Launch the lead-generation agent against structured criteria, a saved search, or a set of seed leads (\"find more like these\").\n\nThe run is asynchronous: poll `GET /api/agents/runs` with the returned `conversation_id`. The run may pause with a clarifying question — answer it with `POST /api/agents/runs/{id}/reply` and the same run continues.\n\n`count` is clamped to the workspace's remaining lead capacity; when that happens the response carries a `clamped` block. A full workspace returns `403` with `code: \"lead_limit\"`.\n\n**With a saved search.** `criteria` sent alongside `profile_id` replaces the saved criteria as a whole — fields you leave out fall back to their defaults, not to the saved values. To change one field, read the saved search from `GET /api/leads/research-profiles`, merge your change, and send the full criteria. Because `save` defaults to `true`, the criteria you send are also written back to that saved search; send `save: false` to run without changing it.\n\n**Two responses that start no lead search.** Both apply only to a typed request, with no `profile_id` and no `seed_lead_ids`:\n- When `criteria` carries only a free-text `description` that does not read as a request for leads, ManyPI starts a plain agent run instead and the response includes `redirected: true`. Send `check_intent: false` to skip that check.\n- When the description names leads the workspace already has, the response is `{ \"known\": {...}, \"description\": \"...\" }` with no `run_id`, and no run starts. Send `force_search: true` to search anyway.\n\nRequires the `agents` permission.",
        "operationId": "startLeadResearch",
        "tags": ["Leads"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "criteria": { "$ref": "#/components/schemas/LeadResearchCriteria" },
                  "profile_id": { "type": "string", "format": "uuid", "description": "Re-run a saved search. Its criteria are used when `criteria` is omitted; when `criteria` is sent, it replaces them entirely." },
                  "seed_lead_ids": { "type": "array", "maxItems": 50, "items": { "type": "string", "format": "uuid" }, "description": "Seed the search from existing leads (\"find similar\")." },
                  "save": { "type": "boolean", "default": true, "description": "Persist the criteria as a reusable saved search. With `profile_id`, writes them back to that saved search." },
                  "name": { "type": "string", "maxLength": 120 },
                  "kind": { "type": "string", "enum": ["icp", "similar"] },
                  "check_intent": { "type": "boolean", "default": true, "description": "Check that a free-text-only request reads as a lead search, and start a plain agent run when it does not. Send `false` when your integration only ever sends lead searches." },
                  "force_search": { "type": "boolean", "default": false, "description": "Search even when the description names leads the workspace already has." }
                }
              },
              "example": {
                "criteria": {
                  "description": "E-commerce agencies building Shopify stores for DTC brands",
                  "locations": ["Germany", "Austria"],
                  "industries": ["Marketing agency", "E-commerce"],
                  "company_size": "5-50 employees",
                  "titles": ["Founder", "Head of Growth"],
                  "exclusions": ["SEO-only agencies"],
                  "required_fields": ["email"],
                  "extra_columns": [{ "name": "Ecommerce platform", "description": "Shopify, WooCommerce, custom or unknown" }],
                  "count": 25
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A run was created — or, when `known` is present instead of `run_id`, the workspace already holds the leads the description names and no run was started.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "run_id": { "type": "string", "format": "uuid", "description": "Absent when the response carries `known`." },
                    "conversation_id": { "type": "string", "format": "uuid" },
                    "status": { "type": "string" },
                    "count": { "type": "integer", "description": "Leads the run will actually try to save, after clamping." },
                    "profile": { "type": "object", "nullable": true },
                    "clamped": {
                      "type": "object",
                      "description": "Present only when `count` was reduced to fit the plan.",
                      "properties": { "requested": { "type": "integer" }, "allowed": { "type": "integer" }, "limit": { "type": "integer" } }
                    },
                    "redirected": { "type": "boolean", "description": "Present and `true` when the request did not read as a lead search and a plain agent run was started instead. See `check_intent`." },
                    "known": { "type": "object", "description": "Present instead of `run_id` when the description names leads the workspace already has. Holds those leads; no run was started. See `force_search`." },
                    "description": { "type": "string", "description": "The description that was matched, returned alongside `known`." }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "description": "The workspace is storing all the leads the plan allows (`code: \"lead_limit\"`).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/leads/research-profiles": {
      "get": {
        "summary": "List saved searches",
        "description": "The workspace's saved lead searches, plus past lead-generation campaigns that were never saved as a profile.\n\nRequires the `read` permission.",
        "operationId": "listResearchProfiles",
        "tags": ["Leads"],
        "responses": {
          "200": {
            "description": "Saved searches.",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "profiles": { "type": "array", "items": { "$ref": "#/components/schemas/ResearchProfile" } }, "past": { "type": "array", "items": { "type": "object" } } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "summary": "Create or update a saved search",
        "description": "Store a search without running it. Pass `id` to replace an existing profile in place: `criteria` replaces the stored criteria, and an omitted `name` is replaced by one generated from the criteria. To change only some fields — a rename, say — use `PATCH /api/leads/research-profiles/{id}`, which keeps whatever you leave out.\n\nRequires the `write` permission.",
        "operationId": "saveResearchProfile",
        "tags": ["Leads"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["criteria"],
                "properties": {
                  "id": { "type": "string", "format": "uuid" },
                  "name": { "type": "string", "maxLength": 120 },
                  "kind": { "type": "string", "enum": ["icp", "similar"] },
                  "criteria": { "$ref": "#/components/schemas/LeadResearchCriteria" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "The saved profile.", "content": { "application/json": { "schema": { "type": "object", "properties": { "profile": { "$ref": "#/components/schemas/ResearchProfile" } } } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/leads/research-profiles/{id}": {
      "patch": {
        "summary": "Update a saved search",
        "description": "Rename a saved search, change its kind, or replace its criteria. Anything you leave out keeps its stored value. `criteria`, when sent, replaces the stored criteria as a whole.\n\nRequires the `write` permission.",
        "operationId": "updateResearchProfile",
        "tags": ["Leads"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "minLength": 1, "maxLength": 120 },
                  "kind": { "type": "string", "enum": ["icp", "similar"] },
                  "criteria": { "$ref": "#/components/schemas/LeadResearchCriteria" }
                }
              },
              "example": { "name": "DACH Shopify agencies" }
            }
          }
        },
        "responses": {
          "200": { "description": "The updated profile.", "content": { "application/json": { "schema": { "type": "object", "properties": { "profile": { "$ref": "#/components/schemas/ResearchProfile" } } } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "summary": "Delete a saved search",
        "description": "Delete a saved search. Leads it already found are kept.\n\nThe response is `{ \"ok\": true }` whether or not a saved search with that id existed.\n\nRequires the `write` permission.",
        "operationId": "deleteResearchProfile",
        "tags": ["Leads"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "Deleted.", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/leads/import": {
      "post": {
        "summary": "Import leads",
        "description": "Write a batch of leads. **Up to 100 rows per request** — chunk larger files client-side so a big import cannot outlive the request timeout and so progress is real.\n\n`declare_fields` lets the same request that carries the first chunk also declare the custom columns those rows write into. It is idempotent, so resending the declarations with every chunk is harmless.\n\nA full workspace still returns `200` — the rows that fitted were written — with `code: \"lead_limit\"` in the body.\n\nRequires the `write` permission.",
        "operationId": "importLeads",
        "tags": ["Leads"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["rows"],
                "properties": {
                  "rows": { "type": "array", "minItems": 1, "maxItems": 100, "items": { "$ref": "#/components/schemas/ImportRow" } },
                  "duplicates": { "type": "string", "enum": ["merge", "overwrite", "skip"], "default": "merge", "description": "`merge` fills blanks on the existing lead; `overwrite` lets incoming values win; `skip` leaves it untouched." },
                  "declare_fields": { "type": "array", "maxItems": 60, "items": { "$ref": "#/components/schemas/LeadFieldInput" } }
                }
              },
              "example": {
                "duplicates": "merge",
                "declare_fields": [{ "label": "Ecommerce platform", "type": "text" }],
                "rows": [{ "company": "Acme GmbH", "full_name": "Lena Roth", "title": "Head of Growth", "email": "lena@acme.de", "domain": "acme.de", "custom": { "ecommerce_platform": "Shopify" } }]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Per-row outcome for the chunk.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "created": { "type": "integer" },
                    "updated": { "type": "integer" },
                    "skippedDuplicate": { "type": "integer" },
                    "skippedNoIdentity": { "type": "integer", "description": "No email and no domain-plus-name, so there is nothing to file the row under." },
                    "skippedOverLimit": { "type": "integer" },
                    "skippedOtherWorkspace": { "type": "integer" },
                    "failed": { "type": "array", "items": { "type": "object", "properties": { "index": { "type": "integer" }, "error": { "type": "string" } } } },
                    "remaining": { "type": "integer", "nullable": true, "description": "Lead slots left after this batch." },
                    "declared": { "type": "array", "items": { "type": "string" } },
                    "code": { "type": "string", "description": "`lead_limit` when the plan filled up mid-import." }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/leads/export": {
      "get": {
        "summary": "Export leads as CSV",
        "description": "Stream the filtered leads as CSV, up to 10,000 rows. Honours the same `status` and `q` filters as the list endpoint. Archived leads are excluded unless you ask for them.\n\nRequires the `read` permission.",
        "operationId": "exportLeads",
        "tags": ["Leads"],
        "parameters": [
          { "name": "status", "in": "query", "schema": { "type": "string" } },
          { "name": "q", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "CSV file.", "content": { "text/csv": { "schema": { "type": "string" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/leads/capacity": {
      "get": {
        "summary": "Get lead capacity",
        "description": "How many more leads the workspace can store. Read this before starting a large search or import — it changes every time a run saves a lead.\n\nRequires the `read` permission.",
        "operationId": "getLeadCapacity",
        "tags": ["Leads"],
        "responses": {
          "200": {
            "description": "Current capacity.",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "used": { "type": "integer" }, "limit": { "type": "integer", "nullable": true }, "remaining": { "type": "integer" }, "tier": { "type": "string" } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/leads/fields": {
      "get": {
        "summary": "List custom columns",
        "description": "The workspace's declared lead columns, in display order. These are column *definitions*; the values live on each lead's `custom` object.\n\nRequires the `read` permission.",
        "operationId": "listLeadFields",
        "tags": ["Leads"],
        "responses": {
          "200": { "description": "Declared columns.", "content": { "application/json": { "schema": { "type": "object", "properties": { "fields": { "type": "array", "items": { "$ref": "#/components/schemas/LeadField" } } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "summary": "Declare a custom column",
        "description": "Declare a column so leads can carry it. Set `auto_research` and the agent fills it in on future lead searches without you restating it each time.\n\nRequires the `write` permission.",
        "operationId": "createLeadField",
        "tags": ["Leads"],
        "requestBody": { "required": true, "content": { "application/json": { "schema": { "$ref": "#/components/schemas/LeadFieldInput" }, "example": { "label": "Ecommerce platform", "type": "text", "description": "Shopify, WooCommerce, custom or unknown", "auto_research": true } } } },
        "responses": {
          "201": { "description": "Column created.", "content": { "application/json": { "schema": { "type": "object", "properties": { "field": { "$ref": "#/components/schemas/LeadField" }, "created": { "type": "boolean" } } } } } },
          "200": { "description": "The column already existed and was returned unchanged." },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/leads/validate": {
      "post": {
        "summary": "Verify email addresses",
        "description": "Queue an SMTP mailbox probe for lead addresses, raw addresses, or both. Results are written back onto the leads as `email_status`, `email_provider`, `email_is_role` and `email_validated_at`.\n\nPass `estimate_only` to price the run without queueing it. You are only charged for probes that actually run — cached results and addresses rejected by the cheap pre-check are free.\n\nRequires the `leads:validate` permission, deliberately separate from `write` so a general-purpose key cannot run up a validation bill.",
        "operationId": "validateEmails",
        "tags": ["Email validation"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lead_ids": { "type": "array", "items": { "type": "string", "format": "uuid" }, "description": "Leads in this workspace whose addresses should be checked." },
                  "emails": { "type": "array", "items": { "type": "string" }, "description": "Raw addresses, not tied to a lead." },
                  "estimate_only": { "type": "boolean", "description": "Price the run without queueing it." }
                }
              },
              "example": { "lead_ids": ["8f1c0e6a-1c3e-4f2a-9a4b-0f7a1e2b3c4d"] }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The job was queued, or (with `estimate_only`) priced.",
            "content": { "application/json": { "schema": { "type": "object", "description": "Two shapes. A normal call queues a job and returns `job_id`, `total` and `estimate`. An `estimate_only` call queues nothing and returns `estimate` alone — with no `job_id` and no `total` — so test for `job_id` before treating the response as a queued job.", "properties": { "job_id": { "type": "string", "format": "uuid", "description": "Absent when `estimate_only` was set." }, "total": { "type": "integer", "description": "Absent when `estimate_only` was set." }, "estimate": { "type": "object", "description": "Always present.", "properties": { "billable": { "type": "integer", "description": "Probes that will actually run and be charged." }, "free": { "type": "integer", "description": "Cached results and addresses the cheap pre-check rejected." } } } } } } }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "description": "Out of validation credits and overage is off (`code: \"validation_credits_exhausted\"`).", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      },
      "get": {
        "summary": "List validation jobs",
        "description": "The workspace's recent validation jobs, newest first.\n\nRequires the `read` permission.",
        "operationId": "listValidationJobs",
        "tags": ["Email validation"],
        "parameters": [{ "name": "limit", "in": "query", "schema": { "type": "integer", "default": 10, "maximum": 50 } }],
        "responses": {
          "200": { "description": "Recent jobs.", "content": { "application/json": { "schema": { "type": "object", "properties": { "jobs": { "type": "array", "items": { "$ref": "#/components/schemas/ValidationJob" } } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/leads/validate/{jobId}": {
      "get": {
        "summary": "Get a validation job",
        "description": "One validation job plus its per-address results. Poll this for progress and the final breakdown.\n\nRequires the `read` permission.",
        "operationId": "getValidationJob",
        "tags": ["Email validation"],
        "parameters": [
          { "name": "jobId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "items", "in": "query", "description": "Set to `false` to omit the per-address results.", "schema": { "type": "string", "enum": ["true", "false"], "default": "true" } }
        ],
        "responses": {
          "200": {
            "description": "The job and its results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "job": { "$ref": "#/components/schemas/ValidationJob" },
                    "items": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "email": { "type": "string" },
                          "lead_id": { "type": "string", "format": "uuid", "nullable": true },
                          "status": { "type": "string", "enum": ["valid", "invalid", "catch_all", "no_mx", "disposable", "unknown"] },
                          "reason": { "type": "string", "nullable": true },
                          "is_role": { "type": "boolean" },
                          "smtp_code": { "type": "integer", "nullable": true },
                          "billed": { "type": "boolean" }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/outreach/inboxes": {
      "get": {
        "summary": "List sending inboxes",
        "description": "Every connected sending identity with its health: today's sends versus the warmup-aware cap, 14-day delivered/failed/opened/bounced, a rolling 24-hour bounce rate, whether the bounce guard has paused it, and a 0–100 health score.\n\nUse an inbox `id` as `smtp_config_id` when creating a campaign or sending.\n\nRequires the `read` permission.",
        "operationId": "listInboxes",
        "tags": ["Outreach"],
        "parameters": [{ "name": "brand", "in": "query", "description": "`all` reports every inbox in the workspace.", "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Inboxes with health.", "content": { "application/json": { "schema": { "type": "object", "properties": { "inboxes": { "type": "array", "items": { "$ref": "#/components/schemas/Inbox" } } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/outreach/sequences": {
      "get": {
        "summary": "List sequences",
        "description": "Saved email sequences with their inline steps. Brand-scoped; `?brand=all` widens to the whole workspace.\n\nRequires the `read` permission.",
        "operationId": "listSequences",
        "tags": ["Outreach"],
        "parameters": [{ "name": "brand", "in": "query", "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Sequences.", "content": { "application/json": { "schema": { "type": "object", "properties": { "sequences": { "type": "array", "items": { "$ref": "#/components/schemas/Sequence" } } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "summary": "Create a sequence",
        "description": "Create the email steps a campaign sends. Step 0 goes out on enrollment; each later step waits `wait_days` after the previous one and, with `thread_mode: \"reply\"`, threads under the first email.\n\nMerge variables: `{{first_name}}`, `{{company}}`, `{{title}}`, `{{domain}}`, `{{location}}`. Bodies are simple HTML — `<p>`, `<br>`, `<strong>`, `<a>`.\n\nA/B variants inside a step require Pro or Business.\n\nRequires the `write` permission.",
        "operationId": "createSequence",
        "tags": ["Outreach"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "steps"],
                "properties": {
                  "name": { "type": "string", "maxLength": 120 },
                  "description": { "type": "string", "maxLength": 500 },
                  "steps": { "type": "array", "minItems": 1, "maxItems": 10, "items": { "$ref": "#/components/schemas/SequenceStep" } }
                }
              },
              "example": {
                "name": "Agency outbound Q3",
                "steps": [
                  { "subject": "Quick question about {{company}}", "body_html": "<p>Hi {{first_name}},</p><p>…</p>", "wait_days": 0, "thread_mode": "new" },
                  { "subject": "", "body_html": "<p>Following up on the above.</p>", "wait_days": 3, "thread_mode": "reply" }
                ]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "The created sequence, wrapped.", "content": { "application/json": { "schema": { "type": "object", "properties": { "sequence": { "$ref": "#/components/schemas/Sequence" } } } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "description": "A/B variants require Pro or Business." }
        }
      }
    },
    "/api/outreach/generate": {
      "post": {
        "summary": "Draft an email with AI",
        "description": "AI-draft a cold email (`mode: \"email\"`) or a whole follow-up sequence (`mode: \"sequence\"`) from a plain-language brief, written against your brand context.\n\nThis only drafts: nothing is saved and nothing is sent. Feed the result into `POST /api/outreach/sequences` or `POST /api/outreach/send`.\n\nRequires the `read` permission.",
        "operationId": "generateEmail",
        "tags": ["Outreach"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["instructions"],
                "properties": {
                  "instructions": { "type": "string", "maxLength": 2000 },
                  "mode": { "type": "string", "enum": ["email", "sequence"], "default": "email" },
                  "steps": { "type": "integer", "minimum": 2, "maximum": 5, "default": 3 },
                  "lead_id": { "type": "string", "format": "uuid", "description": "An example lead to tailor the tone toward." }
                }
              },
              "example": { "instructions": "We help e-commerce agencies find new client leads without cold-calling. Ask for a 15-minute call.", "mode": "sequence", "steps": 3 }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The draft.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subject": { "type": "string" },
                    "html": { "type": "string" },
                    "steps": { "type": "array", "items": { "type": "object", "properties": { "subject": { "type": "string" }, "html": { "type": "string" }, "wait_days": { "type": "integer" } } } }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "503": { "description": "AI generation is not configured." }
        }
      }
    },
    "/api/outreach/campaigns": {
      "get": {
        "summary": "List campaigns",
        "description": "Campaigns with per-campaign stats — enrolled, active, completed, sent, opened, replied — plus the sequence and inbox each is bound to.\n\nRequires the `read` permission.",
        "operationId": "listCampaigns",
        "tags": ["Outreach"],
        "parameters": [{ "name": "brand", "in": "query", "schema": { "type": "string" } }],
        "responses": {
          "200": { "description": "Campaigns.", "content": { "application/json": { "schema": { "type": "object", "properties": { "campaigns": { "type": "array", "items": { "$ref": "#/components/schemas/Campaign" } } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "summary": "Create a campaign",
        "description": "Bind a sequence to a sending inbox. After creating it, enroll leads with `POST /api/outreach/enroll`.\n\nRequires the `write` permission.",
        "operationId": "createCampaign",
        "tags": ["Outreach"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "sequence_id", "smtp_config_id"],
                "properties": {
                  "name": { "type": "string", "maxLength": 120 },
                  "sequence_id": { "type": "string", "format": "uuid" },
                  "smtp_config_id": { "type": "string", "format": "uuid", "description": "An inbox id from `GET /api/outreach/inboxes`." },
                  "reply_to": { "type": "string", "format": "email" },
                  "daily_limit": { "type": "integer", "minimum": 1, "maximum": 2000, "description": "Never exceeds the inbox's own cap." },
                  "schedule_enabled": { "type": "boolean" },
                  "send_days": { "type": "array", "items": { "type": "integer", "minimum": 0, "maximum": 6 }, "description": "Defaults to Mon–Fri." },
                  "send_from": { "type": "string", "description": "Local time, `HH:MM`." },
                  "send_to": { "type": "string", "description": "Local time, `HH:MM`." },
                  "timezone": { "type": "string" },
                  "track_opens": { "type": "boolean" },
                  "priority": { "type": "integer", "minimum": 1, "maximum": 10, "default": 5, "description": "Higher wins the next paced slot when campaigns share an inbox." },
                  "inbox_strategy": { "type": "string", "enum": ["single", "rotate", "round_robin", "provider_match"] }
                }
              },
              "example": { "name": "DACH agencies — Q3", "sequence_id": "…", "smtp_config_id": "…", "daily_limit": 40 }
            }
          }
        },
        "responses": {
          "200": { "description": "The created campaign.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Campaign" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "patch": {
        "summary": "Update a campaign",
        "description": "Pause, resume or archive a campaign, or change its name, reply-to, daily limit, schedule or priority. Pausing stops further sends without losing progress.\n\nRequires the `write` permission.",
        "operationId": "updateCampaign",
        "tags": ["Outreach"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["id"],
                "properties": {
                  "id": { "type": "string", "format": "uuid" },
                  "status": { "type": "string", "enum": ["active", "paused", "archived"] },
                  "name": { "type": "string", "maxLength": 120 },
                  "reply_to": { "type": "string", "format": "email" },
                  "daily_limit": { "type": "integer", "minimum": 1, "maximum": 2000 },
                  "priority": { "type": "integer", "minimum": 1, "maximum": 10 }
                }
              },
              "example": { "id": "…", "status": "paused" }
            }
          }
        },
        "responses": {
          "200": { "description": "The updated campaign." },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "summary": "Delete a campaign",
        "description": "Delete a campaign. Archiving (`PATCH` with `status: \"archived\"`) is usually the better choice — it keeps the history.\n\nThe campaign's sequence is deleted with it when no other campaign uses that sequence.\n\nThe response is `{ \"ok\": true }` whether or not a campaign with that id existed. To confirm it was there, fetch it first with `GET /api/outreach/campaigns/{id}`.\n\nRequires the `write` permission.",
        "operationId": "deleteCampaign",
        "tags": ["Outreach"],
        "parameters": [{ "name": "id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "Deleted, or there was nothing to delete.", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/outreach/campaigns/{id}": {
      "get": {
        "summary": "Get campaign analytics",
        "description": "One campaign's full analytics: headline stats, a per-step sent/opened breakdown, and every enrolled lead with its progress.\n\nThe per-step breakdown is where you see whether the follow-ups are doing the work.\n\nRequires the `read` permission.",
        "operationId": "getCampaign",
        "tags": ["Outreach"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": {
            "description": "Campaign analytics.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "campaign": { "allOf": [{ "$ref": "#/components/schemas/Campaign" }], "description": "The campaign, with an added `inboxes` array describing the sending identities it uses." },
                    "stats": { "type": "object", "properties": { "enrolled": { "type": "integer" }, "active": { "type": "integer" }, "completed": { "type": "integer" }, "sent": { "type": "integer" }, "failed": { "type": "integer" }, "opened": { "type": "integer" }, "replied": { "type": "integer" }, "bounced": { "type": "integer" }, "unsubscribed": { "type": "integer" }, "unsubscribed_sends": { "type": "integer" } } },
                    "perStep": { "type": "array", "description": "Per-step sent and opened breakdown. Named `perStep`, not `steps`.", "items": { "type": "object", "properties": { "step": { "type": "integer" }, "sent": { "type": "integer" }, "opened": { "type": "integer" } } } },
                    "leads": { "type": "array", "description": "The enrolled leads with their progress. Named `leads`, not `enrollments`.", "items": { "type": "object" } }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/outreach/enroll": {
      "post": {
        "summary": "Enroll leads into a campaign",
        "description": "Queue the campaign's sequence for real sending, respecting the inbox's warmup and daily caps. Up to 1,000 leads per call; ids past the first 1,000 are counted in `skipped_over_limit`.\n\nSkipped rather than failed: leads with no email, leads already enrolled, unsubscribed or suppressed addresses, addresses that bounced, addresses known to be undeliverable, and — when the brand only writes to confirmed addresses — addresses that could not be confirmed. Each cause has its own counter; `summary` explains them in plain language.\n\nWhen the brand has *validate on enroll* turned on (the default), unchecked addresses are enrolled and checked in the background (`queued_for_validation`). The result is applied at send time, so an address that turns out undeliverable is never sent to.\n\n**Sending cannot be undone.** Requires a paid plan and the `outreach:send` permission.",
        "operationId": "enrollLeads",
        "tags": ["Outreach"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["campaign_id", "lead_ids"],
                "properties": {
                  "campaign_id": { "type": "string", "format": "uuid" },
                  "lead_ids": { "type": "array", "minItems": 1, "maxItems": 1000, "items": { "type": "string", "format": "uuid" } }
                }
              },
              "example": { "campaign_id": "…", "lead_ids": ["8f1c0e6a-1c3e-4f2a-9a4b-0f7a1e2b3c4d"] }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Enrollment outcome.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "description": "Skips are reported as one counter per cause rather than a single total. Counters for causes that did not occur may be omitted. For the number of leads that were not enrolled, add up every `skipped_*` counter and `already_enrolled` — or compute `requested - enrolled`.",
                  "properties": {
                    "enrolled": { "type": "integer", "description": "Leads that now have an enrollment they did not have before. Includes `queued_for_validation`." },
                    "requested": { "type": "integer", "description": "Lead ids in the request, before any skipping." },
                    "already_enrolled": { "type": "integer", "description": "Leads already enrolled in this campaign." },
                    "skipped_not_found": { "type": "integer", "description": "Ids that match no lead this workspace can see." },
                    "skipped_no_email": { "type": "integer", "description": "Leads with no email address." },
                    "skipped_unsubscribed": { "type": "integer", "description": "Leads who unsubscribed or are on the do-not-contact list." },
                    "skipped_bounced": { "type": "integer", "description": "Leads whose address bounced the last time you wrote." },
                    "skipped_invalid": { "type": "integer", "description": "Addresses known to be dead: invalid, disposable, or a domain that takes no mail." },
                    "skipped_unverifiable": { "type": "integer", "description": "Addresses the mail server would not confirm, skipped because the brand only writes to confirmed addresses." },
                    "skipped_over_limit": { "type": "integer", "description": "Ids past the first 1,000 in this request." },
                    "queued_for_validation": { "type": "integer", "description": "Enrolled leads whose unchecked address is being verified in the background, when the brand has validate-on-enroll turned on." },
                    "summary": { "type": "string", "description": "What happened, in plain language — the same text the dashboard shows." }
                  }
                },
                "example": { "enrolled": 214, "requested": 240, "already_enrolled": 9, "skipped_no_email": 12, "skipped_unsubscribed": 3, "skipped_bounced": 2, "queued_for_validation": 4, "summary": "Added 214 of 240 leads. 9 leads are already in this campaign. 12 leads have no email address yet, so there is nothing to send to. Find their address first, then add them again. 3 leads unsubscribed, so they stay on your do-not-contact list. Remove them from Suppressions if that was a mistake. 2 leads bounced the last time you wrote. Sending again would only damage the reputation of the inbox you send from." }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "description": "Outreach requires a paid plan (`code: \"outreach_locked\"`), or the workspace is over its seat count.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      },
      "delete": {
        "summary": "Remove leads from a campaign",
        "description": "Cancel remaining steps for the given leads. Emails already sent cannot be recalled.\n\nRequires the `outreach:send` permission.",
        "operationId": "unenrollLeads",
        "tags": ["Outreach"],
        "parameters": [
          { "name": "campaign_id", "in": "query", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "lead_ids", "in": "query", "required": true, "description": "Comma-separated lead ids.", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Enrollments cancelled.", "content": { "application/json": { "schema": { "type": "object", "properties": { "removed": { "type": "integer", "description": "Enrollments cancelled. Can be lower than the number of leads supplied — a lead that already finished the sequence has nothing left to cancel." } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/outreach/send": {
      "post": {
        "summary": "Send a one-off email",
        "description": "Send a single email to a lead now, outside any sequence. Merge variables are rendered against the lead, the inbox's daily/warmup cap is respected, and the lead is marked `contacted`.\n\n**Cannot be undone.** Requires a paid plan and the `outreach:send` permission.",
        "operationId": "sendEmail",
        "tags": ["Outreach"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["smtp_config_id", "subject", "html"],
                "properties": {
                  "smtp_config_id": { "type": "string", "format": "uuid" },
                  "subject": { "type": "string" },
                  "html": { "type": "string" },
                  "lead_id": { "type": "string", "format": "uuid", "description": "Used for merge variables and as the default recipient." },
                  "to": { "type": "string", "format": "email", "description": "Explicit recipient; defaults to the lead's address." },
                  "cc": { "type": "array", "items": { "type": "string", "format": "email" }, "description": "Copy recipients. `to`, `cc` and `bcc` together may hold at most 10 addresses." },
                  "bcc": { "type": "array", "items": { "type": "string", "format": "email" }, "description": "Blind-copy recipients, counted in the same 10-address limit." }
                }
              },
              "example": { "smtp_config_id": "…", "lead_id": "…", "subject": "Following up, {{first_name}}", "html": "<p>Hi {{first_name}}, …</p>" }
            }
          }
        },
        "responses": {
          "200": { "description": "Sent.", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" }, "send_id": { "type": "string", "format": "uuid" } } } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "description": "Outreach requires a paid plan (`code: \"outreach_locked\"`)." },
          "404": { "description": "The inbox was not found." },
          "429": { "description": "A sending limit is spent: the inbox has sent its warmup-aware cap for the last 24 hours, or the workspace has reached its plan's monthly outreach allowance. `error` says which. Retrying immediately will not succeed — wait for the window to reset or raise the limit.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } }
        }
      }
    },
    "/api/outreach/stats": {
      "get": {
        "summary": "Get outreach stats",
        "description": "Workspace-wide sending activity: 14 days of sends (sent, failed, opened per day), replies per day, unsubscribes, bounces, active enrollments, and today's sent versus the combined warmup-aware cap.\n\nRequires the `read` permission.",
        "operationId": "getOutreachStats",
        "tags": ["Outreach"],
        "parameters": [{ "name": "brand", "in": "query", "schema": { "type": "string" } }],
        "responses": {
          "200": {
            "description": "Activity.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "days": { "type": "array", "items": { "type": "object", "properties": { "date": { "type": "string", "description": "ISO date, `YYYY-MM-DD`." }, "label": { "type": "string", "description": "Short display label, e.g. `Aug 27`." }, "sent": { "type": "integer" }, "failed": { "type": "integer" }, "opened": { "type": "integer" }, "replied": { "type": "integer" }, "unsubscribed": { "type": "integer" }, "bounced": { "type": "integer", "description": "Bucketed by send date, not bounce date, so the figure lines up with the batch that caused it." } } } },
                    "totals": {
                      "type": "object",
                      "properties": {
                        "sent14d": { "type": "integer" }, "failed14d": { "type": "integer" }, "opened14d": { "type": "integer" },
                        "replies14d": { "type": "integer" }, "unsub14d": { "type": "integer" }, "unsubRate14d": { "type": "number", "description": "Percentage rounded to a whole number: `4` means 4%." },
                        "bounced14d": { "type": "integer" }, "bounceRate14d": { "type": "number", "description": "Percentage to one decimal place: `9.2` means 9.2%." },
                        "activeEnrollments": { "type": "integer" }, "sent24h": { "type": "integer", "description": "Sends in the last rolling 24 hours, which is the window `capToday` applies to." }, "capToday": { "type": "integer", "description": "Warmup-aware caps summed across every connected inbox." }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/outreach/replies": {
      "get": {
        "summary": "List replies",
        "description": "Everything that came back from your campaigns — human replies, auto-replies and bounces — with counts for filter chips and a sentiment summary.\n\nReading replies requires any paid plan. The **sentiment fields** (`sentiment`, `sentiment_score`, `intent`, `summary`, `analyzed_at`) require Pro or Business and are stripped from the response on other plans.\n\nOn those other plans the `sentiment` filter is **ignored, not rejected**: every reply comes back, and the response says `canSeeSentiment: false`. Check that flag before treating the results as filtered — otherwise, say, every reply gets routed as positive.\n\nRequires the `read` permission.",
        "operationId": "listReplies",
        "tags": ["Outreach"],
        "parameters": [
          { "name": "campaign", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "kind", "in": "query", "schema": { "type": "string", "enum": ["reply", "bounce", "auto_reply"] } },
          { "name": "sentiment", "in": "query", "description": "Applied only when the plan includes reply intelligence (`canSeeSentiment: true`); ignored otherwise.", "schema": { "type": "string", "enum": ["positive", "neutral", "negative", "objection", "unsubscribe", "ooo", "referral"] } },
          { "name": "limit", "in": "query", "description": "Max 200.", "schema": { "type": "integer", "default": 50, "maximum": 200 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": {
            "description": "Replies.",
            "content": { "application/json": { "schema": { "type": "object", "properties": { "replies": { "type": "array", "items": { "$ref": "#/components/schemas/Reply" } }, "total": { "type": "integer" }, "counts": { "type": "object" }, "sentiment": { "type": "object", "nullable": true }, "canSeeSentiment": { "type": "boolean", "description": "Whether the plan includes reply intelligence. When `false`, the sentiment fields are stripped and the `sentiment` filter was not applied." } } } } }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "description": "Outreach requires a paid plan (`code: \"outreach_locked\"`)." }
        }
      }
    },
    "/api/outreach/insights": {
      "get": {
        "summary": "Get reply insights",
        "description": "What one campaign's replies add up to: how many were real answers rather than bounces or auto-replies, how they read, and concrete, approvable suggestions for what to change.\n\n`campaign` is required. The reply mix is available on every plan; the `sentiment` breakdown needs reply intelligence (Pro or Business), which the response reports as `canUseAi`.\n\nRequires the `read` permission.",
        "operationId": "getOutreachInsights",
        "tags": ["Outreach"],
        "parameters": [
          { "name": "campaign", "in": "query", "required": true, "description": "The campaign whose replies to analyse.", "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": {
            "description": "Insights and suggestions.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "suggestions": {
                      "type": "array",
                      "description": "Suggested changes, newest first, up to 50.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "string", "format": "uuid" },
                          "campaign_id": { "type": "string", "format": "uuid", "nullable": true },
                          "sequence_id": { "type": "string", "format": "uuid", "nullable": true },
                          "kind": { "type": "string", "enum": ["lead_action", "campaign_config", "sequence_copy"] },
                          "action": { "type": "string", "enum": ["suppress_lead", "stop_enrollment", "mark_interested", "snooze", "draft_reply", "pause_variant", "narrow_send_window", "lower_daily_limit", "pause_campaign", "rewrite_step"] },
                          "title": { "type": "string" },
                          "rationale": { "type": "string" },
                          "payload": { "type": "object", "description": "The exact change applying the suggestion would make." },
                          "evidence": { "type": "object" },
                          "status": { "type": "string", "enum": ["pending", "applied", "dismissed", "failed"] },
                          "applied_at": { "type": "string", "format": "date-time", "nullable": true },
                          "created_at": { "type": "string", "format": "date-time" }
                        }
                      }
                    },
                    "mix": { "type": "object", "description": "Responses by kind. `reply` is the only one a person wrote.", "properties": { "reply": { "type": "integer" }, "bounce": { "type": "integer" }, "auto_reply": { "type": "integer" } } },
                    "sentiment": { "type": "object", "additionalProperties": { "type": "integer" }, "description": "Human replies by sentiment. Empty unless `canUseAi` is `true`." },
                    "lastReplyAt": { "type": "string", "format": "date-time", "nullable": true, "description": "When the most recent response of any kind arrived." },
                    "canUseAi": { "type": "boolean", "description": "Whether the plan includes reply intelligence." }
                  }
                },
                "example": { "suggestions": [], "mix": { "reply": 14, "bounce": 3, "auto_reply": 5 }, "sentiment": { "positive": 6, "neutral": 4, "objection": 3, "negative": 1 }, "lastReplyAt": "2026-08-21T16:12:00.000Z", "canUseAi": true }
              }
            }
          },
          "400": { "description": "`campaign` is missing.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/outreach/suppressions": {
      "get": {
        "summary": "List suppressed addresses",
        "description": "The workspace's do-not-contact list. Nothing on it is ever sent to, by any campaign, from any inbox, in any brand.\n\nPass `format=csv` to download the whole list.\n\nRequires the `read` permission.",
        "operationId": "listSuppressions",
        "tags": ["Outreach"],
        "parameters": [
          { "name": "q", "in": "query", "schema": { "type": "string" } },
          { "name": "format", "in": "query", "schema": { "type": "string", "enum": ["csv"] } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 100, "maximum": 500 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": { "description": "Suppressed addresses.", "content": { "application/json": { "schema": { "type": "object", "properties": { "suppressions": { "type": "array", "items": { "type": "object" } }, "total": { "type": "integer" } } } }, "text/csv": { "schema": { "type": "string" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "summary": "Suppress addresses",
        "description": "Add addresses to the do-not-contact list. Import your existing list on day one — customers, competitors, anyone who has already asked you to stop.\n\nUp to 5,000 addresses per call. Addresses past the first 5,000 are dropped without an error, so split larger lists across calls.\n\nRequires the `write` permission.",
        "operationId": "addSuppressions",
        "tags": ["Outreach"],
        "requestBody": {
          "required": true,
          "content": { "application/json": { "schema": { "type": "object", "required": ["emails"], "properties": { "emails": { "type": "array", "items": { "type": "string", "format": "email" } } } }, "example": { "emails": ["someone@example.com"] } } }
        },
        "responses": {
          "200": { "description": "Addresses added.", "content": { "application/json": { "schema": { "type": "object", "properties": { "added": { "type": "integer", "description": "Addresses submitted. Re-adding one already on the list is a no-op and still counts here." } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "delete": {
        "summary": "Unsuppress an address",
        "description": "Remove one address from the list. This only clears the block — it does not re-enroll anyone, so a mistaken removal cannot by itself restart emails to someone who opted out.\n\nThe response is `{ \"ok\": true }` whether or not the address was on the list. To know whether it was, search for it first with `GET /api/outreach/suppressions?q=`.\n\nRequires the `write` permission.",
        "operationId": "removeSuppression",
        "tags": ["Outreach"],
        "parameters": [{ "name": "email", "in": "query", "required": true, "schema": { "type": "string", "format": "email" } }],
        "responses": {
          "200": { "description": "Address removed.", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/agents/runs": {
      "post": {
        "summary": "Create an agent run",
        "description": "Start an agent run on a natural-language goal. Asynchronous — poll `GET /api/agents/runs/{id}` for status and results.\n\nA run that hits an ambiguity **pauses** and asks a question rather than guessing; read it from `result_summary` and answer with `POST /api/agents/runs/{id}/reply` to resume the same run.\n\nRequires the `agents` permission.",
        "operationId": "createAgentRun",
        "tags": ["Agent"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["goal"],
                "properties": {
                  "goal": { "type": "string", "description": "What you want ManyPI to do, in plain language." },
                  "conversation_id": { "type": "string", "format": "uuid", "description": "Attach to an existing conversation." },
                  "playbook": { "type": "string", "description": "A named behaviour, e.g. `lead_generation`." },
                  "sources": { "type": "array", "items": { "type": "object", "properties": { "type": { "type": "string", "enum": ["file", "scraper_run", "url"] }, "id": { "type": "string" }, "url": { "type": "string" } } } },
                  "output_schema": { "type": "object", "description": "A JSON schema the result must conform to." },
                  "max_steps": { "type": "integer" },
                  "max_pages": { "type": "integer" }
                }
              },
              "example": { "goal": "Find the pricing pages of the ten largest Shopify agencies in Berlin and summarise their packages." }
            }
          }
        },
        "responses": {
          "200": { "description": "The run was created.", "content": { "application/json": { "schema": { "type": "object", "properties": { "run_id": { "type": "string", "format": "uuid" }, "conversation_id": { "type": "string", "format": "uuid" }, "status": { "type": "string" } } } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "description": "Too many runs already in flight for the plan." }
        }
      },
      "get": {
        "summary": "List agent runs",
        "description": "Your recent runs, newest first, narrowed to the workspace and brand you are working in.\n\nRequires the `read` permission.",
        "operationId": "listAgentRuns",
        "tags": ["Agent"],
        "parameters": [
          { "name": "conversation_id", "in": "query", "schema": { "type": "string", "format": "uuid" } },
          { "name": "brand", "in": "query", "schema": { "type": "string" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20, "maximum": 100 } }
        ],
        "responses": {
          "200": { "description": "Runs.", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/AgentRun" } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/agents/runs/{id}": {
      "get": {
        "summary": "Get an agent run",
        "description": "Full status for one run, plus its artifacts with signed download URLs valid for one hour.\n\nWhen `status` is `paused`, the agent's question is in `result_summary`.\n\nRequires the `read` permission.",
        "operationId": "getAgentRun",
        "tags": ["Agent"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": {
            "description": "The run.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/AgentRun" },
                    { "type": "object", "properties": { "artifacts": { "type": "array", "items": { "$ref": "#/components/schemas/Artifact" } } } }
                  ]
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "summary": "Delete an agent run",
        "description": "Delete a run along with its events and artifacts.\n\nThe response is `{ \"ok\": true }` whether or not a run with that id existed. To confirm it was there, fetch it first with `GET /api/agents/runs/{id}`.\n\nRequires the `write` permission.",
        "operationId": "deleteAgentRun",
        "tags": ["Agent"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "Deleted, or there was nothing to delete.", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/agents/runs/{id}/reply": {
      "post": {
        "summary": "Reply to an agent run",
        "description": "Deliver a message into a run.\n\n- **Paused run** — the reply is submitted as the answer to the agent's pending question and the *same* run continues mid-thought.\n- **Finished run** (`completed` / `failed` / `cancelled`) — a follow-up run starts in the same conversation, inheriting its context and playbook, so \"find 25 more like those\" keeps saving leads.\n- **Still working** — `409`, unless you pass `interrupt: true`, which cancels it and starts a new run with your message.\n\nRequires the `agents` permission.",
        "operationId": "replyToAgentRun",
        "tags": ["Agent"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["message"],
                "properties": {
                  "message": { "type": "string", "minLength": 1, "maxLength": 8000 },
                  "interrupt": { "type": "boolean", "description": "Stop a still-working run, then start a new one with this message." }
                }
              },
              "example": { "message": "Only agencies with a team page and at least five people." }
            }
          }
        },
        "responses": {
          "200": { "description": "Resumed or created.", "content": { "application/json": { "schema": { "type": "object", "properties": { "run_id": { "type": "string", "format": "uuid" }, "conversation_id": { "type": "string", "format": "uuid" }, "status": { "type": "string", "enum": ["resumed", "created"] } } } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" },
          "409": { "description": "The run is still working. Wait for it to pause or finish, cancel it, or pass `interrupt: true`." }
        }
      }
    },
    "/api/agents/runs/{id}/cancel": {
      "post": {
        "summary": "Cancel an agent run",
        "description": "Stop a run immediately. Cancellation is authoritative rather than advisory — a `queued`, `planning` or `running` run is marked `cancelled` at once, so a wedged executor cannot keep it \"running\" and occupying one of your parallel-run slots. A `paused` run is cancelled through its cancel flag.\n\nRuns that already finished (`completed`, `failed`, `cancelled`) are left as they are. The response is `{ \"ok\": true }` in every case, including for an id that matches no run — read the run with `GET /api/agents/runs/{id}` to see its status.\n\nRequires the `agents` permission.",
        "operationId": "cancelAgentRun",
        "tags": ["Agent"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "Cancelled, or there was nothing to cancel.", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/skills": {
      "get": {
        "summary": "List skills",
        "description": "Skills available to the caller: ManyPI's premade ones plus the workspace's own.\n\nRequires the `read` permission.",
        "operationId": "listSkills",
        "tags": ["Agent"],
        "responses": {
          "200": { "description": "Skills, as a bare array rather than an object wrapper.", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Skill" } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "summary": "Create a skill",
        "description": "Create a custom skill — a reusable instruction set injected into the agent's system prompt for a run.\n\nInstructions shape behaviour but never widen tool access: custom skills are always created with the safe defaults.\n\nRequires the `write` permission.",
        "operationId": "createSkill",
        "tags": ["Agent"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["title", "system_prompt"],
                "properties": {
                  "title": { "type": "string", "maxLength": 80 },
                  "description": { "type": "string", "maxLength": 280, "nullable": true },
                  "emoji": { "type": "string", "maxLength": 8, "nullable": true },
                  "system_prompt": { "type": "string", "maxLength": 8000 }
                }
              },
              "example": { "title": "Company research", "emoji": "🔍", "system_prompt": "For the company given, research what they sell, who their customers are, recent funding or hiring news, and the two people most likely to own the buying decision. Cite a source URL for every fact." }
            }
          }
        },
        "responses": {
          "200": { "description": "The created skill." },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/scrapers": {
      "get": {
        "summary": "List scrapers",
        "description": "The workspace's scrapers with their schema, target URL, status and type.\n\nRequires the `read` permission.",
        "operationId": "listScrapers",
        "tags": ["Scraping"],
        "responses": {
          "200": { "description": "Scrapers.", "content": { "application/json": { "schema": { "type": "object", "properties": { "scrapers": { "type": "array", "items": { "$ref": "#/components/schemas/Scraper" } } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/scrape/{scraperId}": {
      "post": {
        "summary": "Run a scraper",
        "description": "Queue a scraper run. **Asynchronous** — the call returns `202` immediately with a `runId`, so a slow page never times your request out.\n\nPoll `GET /api/runs/{runId}` until `status` is `completed` (or `failed`), then read the full result with `GET /api/{scraperId}/data/{runId}`. Or configure an outbound webhook to be notified when it completes.\n\nThe body takes `url` only. Run settings such as timeouts and retries are not configurable per call.\n\nRequires the `scraper` permission.",
        "operationId": "runScraper",
        "tags": ["Scraping"],
        "parameters": [{ "name": "scraperId", "in": "path", "required": true, "description": "Find this in the dashboard under Scrapers.", "schema": { "type": "string", "format": "uuid" } }],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "url": { "type": "string", "format": "uri", "description": "Override the scraper's saved target for this run." }
                }
              },
              "example": { "url": "https://example.com/product/42" }
            }
          }
        },
        "responses": {
          "202": {
            "description": "The run was queued.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": { "type": "object", "properties": { "runId": { "type": "string", "format": "uuid" }, "status": { "type": "string" }, "message": { "type": "string" } } },
                    "metadata": { "type": "object", "properties": { "scraperId": { "type": "string" }, "timestamp": { "type": "string", "format": "date-time" }, "creditsRemaining": { "type": "integer" } } }
                  }
                }
              }
            }
          },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "402": { "description": "Out of credits.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "404": { "description": "No such scraper for this account." }
        }
      }
    },
    "/api/{scraperId}/data/{runId}": {
      "get": {
        "summary": "Get scraper run results",
        "description": "The extracted data for one run. It carries no status: until the run completes, the body is `null`. Check progress with `GET /api/runs/{runId}` and call this once `status` is `completed`.\n\nRequires the `read` permission.",
        "operationId": "getScraperRunData",
        "tags": ["Scraping"],
        "parameters": [
          { "name": "scraperId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } },
          { "name": "runId", "in": "path", "required": true, "description": "A run id. Also accepts `latest` for the scraper's most recent run, a number for the run that many places back (`1` is the one before `latest`), or the run's exact `created_at` timestamp.", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "The extracted data itself, or `null` while the run has not completed. This endpoint returns the scraped JSON directly — there is no run envelope, so no id, status, error or timestamp is included. The shape follows the scraper's own `scraper_schema`. Large results are hydrated from storage transparently, so the full result is always returned rather than a truncated preview.", "content": { "application/json": { "schema": { "type": "object", "additionalProperties": true, "description": "Matches the scraper's configured output schema." } } } },
          "400": { "description": "Invalid scraper id format." },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/runs": {
      "get": {
        "summary": "List scraper runs",
        "description": "Recent scraper runs across every scraper, with status and extracted data. Returned as a flat array, which is the shape polling-based integrations such as Zapier expect for a trigger.\n\nRequires the `read` permission.",
        "operationId": "listScraperRuns",
        "tags": ["Scraping"],
        "parameters": [
          { "name": "limit", "in": "query", "schema": { "type": "integer", "default": 20, "maximum": 100 } },
          { "name": "offset", "in": "query", "schema": { "type": "integer", "default": 0 } }
        ],
        "responses": {
          "200": { "description": "Runs.", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/ScraperRun" } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/api/runs/{runId}": {
      "get": {
        "summary": "Get a scraper run",
        "description": "The status of one scraper run — the call to poll after `POST /api/scrape/{scraperId}`.\n\n`result` holds the inline copy of the extracted data once the run completes. Large results keep only a preview inline, so read the full data from `GET /api/{scraperId}/data/{runId}`.\n\nRequires the `read` permission.",
        "operationId": "getScraperRun",
        "tags": ["Scraping"],
        "parameters": [{ "name": "runId", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": {
            "description": "The run.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "runId": { "type": "string", "format": "uuid" },
                        "scraperId": { "type": "string", "format": "uuid" },
                        "status": { "type": "string", "enum": ["pending", "running", "completed", "failed", "cancelled"] },
                        "metadata": { "type": "object", "properties": { "tokensConsumed": { "type": "integer", "nullable": true }, "creditsUsed": { "type": "number", "nullable": true }, "storageSizeBytes": { "type": "integer", "nullable": true }, "createdAt": { "type": "string", "format": "date-time" }, "updatedAt": { "type": "string", "format": "date-time" } } },
                        "result": { "type": "object", "additionalProperties": true, "description": "Present once `status` is `completed`. May be a preview for large results." },
                        "downloadUrl": { "type": "string", "description": "Storage path of the full result, when one was written." },
                        "error": { "type": "string", "description": "Present when `status` is `failed`." }
                      }
                    }
                  }
                },
                "example": { "success": true, "data": { "runId": "b3c4d5e6-7f80-4912-a3b4-c5d6e7f8a901", "scraperId": "9f1c2a44-0c3e-4b7a-8f61-2d5e8b9a1c33", "status": "completed", "metadata": { "tokensConsumed": 1240, "creditsUsed": 3, "storageSizeBytes": 8904, "createdAt": "2026-08-08T08:53:30.710Z", "updatedAt": "2026-08-08T08:53:49.409Z" }, "result": { "price": 49 } } }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "description": "The run belongs to another account." },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      }
    },
    "/api/endpoints": {
      "get": {
        "summary": "List API endpoints",
        "description": "Your published endpoints and the scrapers backing them.\n\nRequires the `read` permission.",
        "operationId": "listEndpoints",
        "tags": ["Endpoints"],
        "responses": {
          "200": { "description": "Endpoints.", "content": { "application/json": { "schema": { "type": "array", "items": { "$ref": "#/components/schemas/Endpoint" } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      },
      "post": {
        "summary": "Create an API endpoint",
        "description": "Publish a scraper as a typed REST endpoint at `https://app.manypi.com/v1/e/{slug}`.\n\nSlugs are unique per account and resolve within the key owner's endpoints, so your slug namespace is your own.\n\nRequires the `write` permission.",
        "operationId": "createEndpoint",
        "tags": ["Endpoints"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["slug", "name", "scraper_id"],
                "properties": {
                  "slug": { "type": "string", "minLength": 2, "maxLength": 64, "pattern": "^[a-z0-9]+(-[a-z0-9]+)*$", "description": "Lowercase letters, digits and dashes." },
                  "name": { "type": "string", "maxLength": 120 },
                  "description": { "type": "string", "maxLength": 2000 },
                  "method": { "type": "string", "enum": ["GET", "POST"], "default": "GET" },
                  "scraper_id": { "type": "string", "format": "uuid" },
                  "param_schema": { "type": "object", "nullable": true, "description": "JSON Schema for the input. Validated on every call." },
                  "output_schema": { "type": "object", "nullable": true },
                  "freshness": { "type": "string", "enum": ["cached_ok", "always_fresh"], "default": "cached_ok" },
                  "cache_ttl_seconds": { "type": "integer", "minimum": 0, "maximum": 604800, "default": 3600 },
                  "mode": { "type": "string", "enum": ["sync", "async"], "default": "sync" }
                }
              },
              "example": { "slug": "product-price", "name": "Product price lookup", "scraper_id": "…", "param_schema": { "type": "object", "properties": { "url": { "type": "string" } }, "required": ["url"] }, "cache_ttl_seconds": 3600 }
            }
          }
        },
        "responses": {
          "201": { "description": "The created endpoint.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Endpoint" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "description": "Endpoint limit reached for the plan." },
          "404": { "description": "Scraper not found." },
          "409": { "description": "That slug is already in use." }
        }
      }
    },
    "/api/endpoints/{id}": {
      "get": {
        "summary": "Get an API endpoint",
        "description": "One endpoint's settings and its 50 most recent invocations.\n\nRequires the `read` permission.",
        "operationId": "getEndpoint",
        "tags": ["Endpoints"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": {
            "description": "The endpoint.",
            "content": {
              "application/json": {
                "schema": {
                  "allOf": [
                    { "$ref": "#/components/schemas/Endpoint" },
                    {
                      "type": "object",
                      "properties": {
                        "invocations": {
                          "type": "array",
                          "description": "Most recent first, up to 50.",
                          "items": { "type": "object", "properties": { "id": { "type": "string", "format": "uuid" }, "status": { "type": "string" }, "cache_hit": { "type": "boolean" }, "latency_ms": { "type": "integer" }, "credits_used": { "type": "number" }, "created_at": { "type": "string", "format": "date-time" }, "run_id": { "type": "string", "format": "uuid", "nullable": true } } }
                        }
                      }
                    }
                  ]
                }
              }
            }
          },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "patch": {
        "summary": "Update an API endpoint",
        "description": "Change an endpoint's settings, or take it offline with `is_active: false`. The slug and the backing scraper cannot be changed — create a new endpoint for that.\n\nRequires the `write` permission.",
        "operationId": "updateEndpoint",
        "tags": ["Endpoints"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "minLength": 1, "maxLength": 120 },
                  "description": { "type": "string", "maxLength": 2000, "nullable": true },
                  "method": { "type": "string", "enum": ["GET", "POST"] },
                  "param_schema": { "type": "object", "nullable": true },
                  "output_schema": { "type": "object", "nullable": true },
                  "freshness": { "type": "string", "enum": ["cached_ok", "always_fresh"] },
                  "cache_ttl_seconds": { "type": "integer", "minimum": 0, "maximum": 604800 },
                  "mode": { "type": "string", "enum": ["sync", "async"] },
                  "is_active": { "type": "boolean", "description": "`false` takes the endpoint offline: calls to its URL return `404` until it is turned back on." }
                }
              },
              "example": { "cache_ttl_seconds": 900, "freshness": "cached_ok" }
            }
          }
        },
        "responses": {
          "200": { "description": "The updated endpoint.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Endpoint" } } } },
          "400": { "$ref": "#/components/responses/BadRequest" },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "404": { "$ref": "#/components/responses/NotFound" }
        }
      },
      "delete": {
        "summary": "Delete an API endpoint",
        "description": "Delete an endpoint permanently. Its URL stops answering at once.\n\nThe response is `{ \"ok\": true }` whether or not an endpoint with that id existed.\n\nRequires the `write` permission.",
        "operationId": "deleteEndpoint",
        "tags": ["Endpoints"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "string", "format": "uuid" } }],
        "responses": {
          "200": { "description": "Deleted, or there was nothing to delete.", "content": { "application/json": { "schema": { "type": "object", "properties": { "ok": { "type": "boolean" } } } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" }
        }
      }
    },
    "/v1/e/{slug}": {
      "get": {
        "summary": "Invoke an endpoint",
        "description": "Call one of your published endpoints, passing its parameters in the query string. Query values arrive as strings and are converted to the types the endpoint's `param_schema` declares. To send typed values or nested objects, use `POST` with a JSON body instead — it works whatever method the endpoint was created with.\n\nHow a call resolves: a fresh cached result is returned immediately (no crawl credits spent; `X-ManyPI-Cache: hit`); otherwise the scrape runs inline, up to a ~110 second budget; if it exceeds that — or the endpoint is `async` — you get `202` with a run id to poll at `GET /v1/e/{slug}/results/{runId}`.\n\nRequires the `endpoints:invoke` permission.",
        "operationId": "invokeEndpoint",
        "tags": ["Endpoints"],
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "url", "in": "query", "description": "Endpoint-defined parameters, validated against its `param_schema`.", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/EndpointResult" },
          "202": { "$ref": "#/components/responses/EndpointAccepted" },
          "400": { "description": "Parameters failed validation against the endpoint's schema. `details` lists what was wrong.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "description": "The key lacks the `endpoints:invoke` permission." },
          "404": { "description": "No active endpoint with that slug for this account." },
          "502": { "$ref": "#/components/responses/EndpointFailed" }
        }
      },
      "post": {
        "summary": "Invoke an endpoint with a JSON body",
        "description": "Call one of your published endpoints with its parameters as a JSON object. Values keep their JSON types, so numbers, booleans and nested objects arrive as sent. Works for every endpoint, whichever method it was created with.\n\nResolves exactly like `GET`: a fresh cached result immediately, otherwise the scrape runs inline for up to ~110 seconds, then `202` with a run id.\n\nRequires the `endpoints:invoke` permission.",
        "operationId": "invokeEndpointWithBody",
        "tags": ["Endpoints"],
        "parameters": [{ "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } }],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": { "type": "object", "additionalProperties": true, "description": "The endpoint's parameters, validated against its `param_schema`." },
              "example": { "url": "https://example.com/product/42" }
            }
          }
        },
        "responses": {
          "200": { "$ref": "#/components/responses/EndpointResult" },
          "202": { "$ref": "#/components/responses/EndpointAccepted" },
          "400": { "description": "Parameters failed validation against the endpoint's schema. `details` lists what was wrong.", "content": { "application/json": { "schema": { "$ref": "#/components/schemas/Error" } } } },
          "401": { "$ref": "#/components/responses/Unauthorized" },
          "403": { "description": "The key lacks the `endpoints:invoke` permission." },
          "404": { "description": "No active endpoint with that slug for this account." },
          "502": { "$ref": "#/components/responses/EndpointFailed" }
        }
      }
    },
    "/v1/e/{slug}/results/{runId}": {
      "get": {
        "summary": "Get an endpoint result",
        "description": "Collect the result of a call that returned `202` — an `async` endpoint, or a sync one that ran past the inline budget. Returns `202` again while the run is still going.\n\nRequires the `endpoints:invoke` permission.",
        "operationId": "getEndpointResult",
        "tags": ["Endpoints"],
        "parameters": [
          { "name": "slug", "in": "path", "required": true, "schema": { "type": "string" } },
          { "name": "runId", "in": "path", "required": true, "description": "The `run_id` from the `202` response.", "schema": { "type": "string", "format": "uuid" } }
        ],
        "responses": {
          "200": { "$ref": "#/components/responses/EndpointResult" },
          "202": { "description": "Still running. Poll again shortly.", "content": { "application/json": { "schema": { "type": "object", "properties": { "status": { "type": "string" }, "run_id": { "type": "string", "format": "uuid" } } } } } },
[...]
